// utils styles
@import './utils/normalize';
@import './utils/vars';
@import './utils/visually-hidden';

// base styles
@import './base/fonts';
@import './base/reset';
@import './base/base-styles';

// components styles
@import './components/mobile-menu';
@import './components/header';
@import './components/hero';
@import './components/features';
@import './components/work';
@import './components/team';
@import './components/socials';
@import './components/clients';
@import './components/footer';
@import './components/portfolio';
@import './components/overlay';
@import './components/modal';
@import './components/register-form';
