.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 3);
}

.features__box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--light-bg-cl);
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}
