.header {
  border-bottom: 1px solid var(--header-border-cl);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.mobile-hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav {
  margin-bottom: auto;

  @media screen and (min-width: 768px) {
    margin-right: 96px;
  }
}

.nav__logo {
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.nav__item {
  position: relative;
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  transition: color var(--animation-time) var(--animation-function);

  &--current {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: calc(16 / 14);

    &--current::after {
      position: absolute;
      display: inline-block;
      left: 0;
      bottom: -1.5%;

      content: '';
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: var(--accent-bg-cl);
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // margin-left: auto;
  // gap: 50px;
  // align-items: center;
}

.header-contacts__link {
  display: flex;
  gap: 8px;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02em;

  &--second {
    font-size: 34px;
    line-height: calc(40 / 34);

    color: var(--accent-txt-cl);
  }

  &--first {
    font-size: 24px;
    line-height: calc(28 / 24);

    color: var(--secondary-txt-cl);
  }

  @media screen and (max-width: 342px) {
    &--second {
      font-size: 27px;
    }
  }

  @media screen and (min-width: 343px) and (max-width: 380px) {
    &--second {
      font-size: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);

    &--top {
      padding-top: 20px;
    }

    &--bottom {
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }

  transition: color var(--animation-time) var(--animation-function);

  color: var(--secondary-txt-cl);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-contacts__icon {
  fill: currentColor;
}
