.header {
  border-bottom: 1px solid var(--header-border-cl);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

.nav__logo {
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.nav__item {
  position: relative;
}

.nav__link {
  &--current {
    color: var(--accent-txt-cl);
  }

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: calc(16 / 14);

  &--current::after {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -1.5%;

    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-bg-cl);
  }

  transition: color var(--animation-time) var(--animation-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.header-contacts__link {
  display: flex;
  gap: 8px;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);

    &--top {
      padding-top: 20px;
    }

    &--bottom {
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }

  transition: color var(--animation-time) var(--animation-function);

  color: var(--secondary-txt-cl);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-contacts__icon {
  fill: currentColor;
}
