.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-cl-20);
  overflow-y: scroll;
  opacity: 1;

  transition: visibility 400ms ease-in-out, opacity 400ms ease-in-out;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.modal {
  padding: 40px;
  position: relative;

  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;

  transition: transform 700ms ease-in-out, opacity 400ms ease-in-out;

  .backdrop.is-hidden & {
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;
    height: 609px;

    transform: translate(-50%, -50%) scale(1) rotate(360deg);

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.7) rotate(90deg);
      opacity: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;

  background-color: var(--main-bg-cl);
  cursor: pointer;
  outline: transparent;

  transition: fill var(--animation-time) var(--animation-function),
    border-color var(--animation-time) var(--animation-function);

  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
    border-color: var(--accent-bg-cl);
  }
}
