.work {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--work-bg-cl-80);
}

.work__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}
